.row
  .col
    .card-group
      clock.card
      location.card.text-white.bg-success(
          location="$ctrl.location"
      )
      wind.card.text-white.bg-info(
        wind="$ctrl.conditions.Wind",
        gusts="$ctrl.conditions.WindGust"
      )
.row
  .col
    .card-group
      temperature.card.text-white.bg-primary(
        temperature="$ctrl.conditions.Temperature"
      )
      pressure.card.text-white.bg-warning(
        pressure="$ctrl.conditions.Pressure"
      )
      humidity.card.text-white.bg-danger(
        humidity="$ctrl.conditions.RelativeHumidity"
      )
.row
  .col
    .card-group
      forecast.card(
        ng-repeat="f in $ctrl.forecast.DailyForecasts",
        forecast="f"
      )
