svg(viewBox="0 0 100 100")
  defs
    include ../shared/gauge-defs.pug
  g(transform="translate(50,50)"
    font-family="tahoma",
    dominant-baseline="middle",
    text-anchor="middle",
    font-size="6"
    )
    use(href="#dial")
    use(href="#face")
    //- numbers
    g
      - var y = -35;
      - for(i = 0; i < 360; i = i + 45)
        g(transform="rotate(" + i + ")")
          use(href="#tic")
          text(y=y, transform="rotate(-" + i +" 0 " + y +")")= i
    //- lcd
    g
      g(transform="translate(0 -10)")
        text(y=-10) Wind
        use(href="#lcd")
        text(font-size="9" y=1) {{$ctrl.direction}}&deg;
      g(transform="translate(0 16)")
        text(y=-10) Speed
        use(href="#lcd")
        text(font-size="9" y=1) {{$ctrl.speed}} {{$ctrl.unit}}
    //- needles
    g(data-ng-attr-transform="rotate({{$ctrl.direction}})", fill="red")
      path(d="M -3 -44 L 3 -44 L 0 -40 z")
      path(d="M -3 -44 L 3 -44 L 0 -40 z", transform="translate(0, 84)")
    use(href="#crystal")