svg(viewBox="0 0 100 100")
  defs
    include ../shared/gauge-defs.pug
    g#needle
      circle(r=4)
      path(d="M-3 0 L-.75 -40 L.25 -40 L3 0")
      circle(r=.75, fill="black")

    g#ticks
      use(href="#tic")
      use(href="#toc", transform="rotate(2.5)")
      use(href="#toc", transform="rotate(5)")
      use(href="#toc", transform="rotate(7.5)")
      use(href="#toc", transform="rotate(10)")

  g(transform="translate(50,50)"
    font-family="tahoma",
    dominant-baseline="middle",
    text-anchor="middle",
    font-size="6"
    )
    use(href="#dial")
    use(href="#face")
    //- numbers
    g
      - var y = -35;
      - var t = -30;
        while t < 150
          - var r = t * 1.25 - 75;
          g(transform="rotate(" + r + ")")
            use(href="#ticks")
            if !(t % 30)
              text(y=y, transform="rotate(" + -r + " 0 " + y + ")" alignment-baseline="middle")= t
          - t = t + 10;
      g(transform="rotate(" + (150 * 1.25 - 75) + ")")
        use(href="#tic")
        text(y=y, transform="rotate(" + -(150 * 1.25 - 75) + " 0 " + y + ")" alignment-baseline="middle")= 150
    g(transform="translate(0 22)")
      text(y=-10) Temperature
      use(href="#lcd")
      text(font-size="9", y=1) {{$ctrl.temperature | number:1}} F
    use(href="#needle", fill="#e00", filter="url(#dropShadow)" data-ng-attr-transform="rotate({{$ctrl.temperature * 1.25 - 75}})")
    use(href="#crystal")
